<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44175476464-b2rrhucu31u76q4vq66qutnafj4k7lc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44175476464-b2rrhucu31u76q4vq66qutnafj4k7lc7</string>
	<key>API_KEY</key>
	<string>AIzaSyCum39GueCh9sGl0WhYasS_5WM2MWNBJ5E</string>
	<key>GCM_SENDER_ID</key>
	<string>44175476464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-226f9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-226f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44175476464:ios:063d9fccf4f8e282e16435</string>
</dict>
</plist>